#drum-machine {
  display: flex;
  flex-direction: column;
}

#display {
  display: flex;
  flex-direction: column;
  margin: 10px 1px;
  padding: 10vw;
  background-color: gray;
  align-self: center;
  outline: 3px solid rgb(228, 156, 23);
}

#buttons {  
  display: grid;
  grid-template-rows: 20vw 20vw 20vw;
  grid-template-columns: 20vw 20vw 20vw;
  gap: 10px;
}

.drum-pad{
  background-color: rgb(102, 99, 99);
  box-shadow: 0 0 0.2em black;
  border-radius: 5px;
  text-align: center;
  line-height: 20vw;
  font-size: 4vw;
  user-select: none;
  cursor: pointer;  
}

.controls {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 68vw;
  text-align: center;
  gap: 6vh;
}

.select {
  margin: auto;
  margin-top: -9vh;
  border: 1px solid black;
  width: 17 * 0.8vw;
  height: 7 * 0.8vw;
  padding: 1px;
  background-color: black;
  cursor: pointer;
}

.inner-select {
  width: 8 * 0.8vw;
  padding: auto;
  height: 6.5 * 0.8vw;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
}

.info-screen {
  margin: auto;
  font-size: 4vw;
  width: 55vw;
  height: 14vw;
  background-color: rgb(94, 91, 91);
  box-shadow: 0 0 0.2em black;
  line-height: 14vw;
}

input[type='range'] {
  width: 130px;
  margin: auto;
  cursor: pointer;
  border: none;
  margin-bottom: -20px;
  margin-top: -25px;
}

p {
  font-size: 5vw;
}

@media (min-width: 600px) {

  #drum-machine {
    display: flex;
    flex-direction: column;    
  }

  #display {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20vh;
    padding: 50px;    
  }

  #buttons {
    grid-template-rows: 7vw 7vw 7vw;
    grid-template-columns: 7vw 7vw 7vw;
    gap: 10px;
  }

  .drum-pad {
    font-size: 1.2vw;
    line-height: 7vw;
  }

  .controls {
    width: 20vw;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .select {
    margin: auto;
    margin-top: -4vw;
    border: 1px solid black;
    width: 17 * 0.15vw;
    height: 7 * 0.15vw;
    padding: 1px;
    background-color: black;
    cursor: pointer;
  }
  
  .inner-select {
    width: 8 * 0.15vw;
    padding: auto;
    height: 6.5 * 0.15vw;
    background: blue;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .info-screen {
    margin: auto;
    font-size: 1vw;
    width: 55 * 0.25vw;
    height: 14 * 0.25vw;   
    line-height: 14 * 0.25vw;
    margin-bottom: -20px;
    margin-top: -20px;
  }
  
  input[type='range'] {
    width: 130px;
    margin: auto;
    cursor: pointer;
    border: none;
    margin-top: -40px;
    margin-bottom: -40px    
  }
  
  p {
    font-size: 1vw;
  }
  
}

// *:not(path):not(g) {
//   color: hsla(210, 100%, 100%, 0.9) !important;
//   background: hsla(210, 100%, 50%, 0.5) !important;
//   outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

//   box-shadow: none !important;
// }