#drum-machine {
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

#display {
  display: flex;
  flex-direction: column;
  margin: 15px 1px;
  padding: 10vw 10vw 50vw 10vw;
  background-color: gray;
  align-self: center;
  outline: 3px solid rgb(228, 156, 23);
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20vh;    
    padding: 50px;  
  }
}

#drum-button {  
  display: grid;
  grid-template-rows: 20vw 20vw 20vw;
  grid-template-columns: 20vw 20vw 20vw;
  gap: 10px;
  @media (min-width: 600px) {
    grid-template-rows: 7vw 7vw 7vw;
    grid-template-columns: 7vw 7vw 7vw;
    gap: 10px;
  }
}

.drum-pad{
  background-color: rgb(102, 99, 99);
  box-shadow: 5px 3px 1px rgb(54, 54, 54) ;
  border-radius: 5px;
  text-align: center;
  line-height: 20vw;
  font-size: 4vw;
  user-select: none;
  cursor: pointer;
  @media (min-width: 600px) {
    font-size: 1.2vw;
    line-height: 7vw;
  }  
}

.controls {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 68vw;
  text-align: center;
  gap: 6vh;
  @media (min-width: 600px) {
    width: 20vw;
    margin-top: -10px;   
    padding: 5px;
  }

}

.toggle {
  margin: auto;
  margin-top: -9vh;
  border: 1px solid black;
  width: 17 * 0.8vw;
  height: 7 * 0.8vw;
  padding: 1px;
  background-color: black;
  cursor: pointer;
  @media (min-width: 600px) {
    margin-top: -4vw;
    width: 17 * 0.15vw;
    height: 7 * 0.15vw;
  }

}

.inner-toggle {
  width: 8 * 0.8vw;
  padding: auto;
  height: 6.5 * 0.8vw;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  @media (min-width: 600px) {
    width: 8 * 0.15vw;
    height: 6.5 * 0.15vw;
  }

}

.info-screen {
  margin: auto;
  font-size: 4vw;
  width: 55vw;
  height: 14vw;
  background-color: rgb(94, 91, 91);
  box-shadow: 0 0 0.2em black;
  line-height: 14vw;
  @media (min-width: 600px) {
    font-size: 1vw;
    width: 55 * 0.25vw;
    height: 14 * 0.25vw;   
    line-height: 14 * 0.25vw;
    margin-bottom: -20px;
    margin-top: -20px;
  }

}

input[type='range'] {
  width: 130px;
  margin: auto;
  cursor: pointer;
  border: none;
  margin-bottom: -20px;
  margin-top: -25px;
  @media (min-width: 600px) {   
    margin-top: -40px;
    margin-bottom: -40px 
  }

}

p {
  font-size: 5vw;
  @media (min-width: 600px) {
    font-size: 1vw;
  }
}

// *:not(path):not(g) {
//   color: hsla(210, 100%, 100%, 0.9) !important;
//   background: hsla(210, 100%, 50%, 0.5) !important;
//   outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

//   box-shadow: none !important;
// }